.vs/
obj/
bin/
Examples/database-example/database-example.json
Examples/interactive-console/sampledata/
!Examples/interactive-console/sampledata/placeholder.txt
Examples/interactive-console/settings-db.json
Examples/native-example/contacts-database.json
*.user